rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /records/{recordId} {
      allow read: if true;

      allow create: if request.resource.data.keys().hasAll(
          ['group', 'name', 'concentration', 'liquidWeight', 'passConcentration', 'passLiquid', 'passOverall']
        )
        && request.resource.data.group is string
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() < 40
        && request.resource.data.concentration is number
        && request.resource.data.liquidWeight is number
        && request.resource.data.passConcentration is bool
        && request.resource.data.passLiquid is bool
        && request.resource.data.passOverall is bool;

      // 只能更正本人（同組別＋同名稱）的紀錄，且不可更改是誰的紀錄
      allow update: if request.resource.data.keys().hasAll(
          ['group', 'name', 'concentration', 'liquidWeight', 'passConcentration', 'passLiquid', 'passOverall']
        )
        && request.resource.data.group == resource.data.group
        && request.resource.data.name == resource.data.name
        && request.resource.data.concentration is number
        && request.resource.data.liquidWeight is number
        && request.resource.data.passConcentration is bool
        && request.resource.data.passLiquid is bool
        && request.resource.data.passOverall is bool;

      allow delete: if false;
    }

    match /beans/{beanId} {
      allow read: if true;

      allow create: if request.resource.data.keys().hasAll(['name'])
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() < 60;

      allow delete: if true;
      allow update: if false;
    }
  }
}
